<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="logo_kitsudev.svg" type="image/icon type">
    <title>Kitsudev 🦊</title>
    <style>
        h1.text-bhnd {
            text-shadow: -1px -1px 0 rgb(71 76 79 / 20%), 1px -1px 0 rgb(71 76 79 / 20%), -1px 1px 0 rgb(71 76 79 / 20%), 1px 1px 0 rgb(71 76 79 / 20%);
            color: white;
        }
    </style>
</head>
<body class="h-screen">
    <div class="container-fluid px-9 py-6 h-full">
        <div class="flex flex-row justify-between">
            <img src="logo_kitsudev.svg" alt="logo_kitsudev">
            <div class="flex flex-row basis-1/4 justify-between">
                <div><a href="">Github</a></div>
                <div><a href="">Instagram</a></div>
                <div><a href="">Linkedin</a></div>
            </div>
        </div>
        <!-- <div class="container-fluid mt-56">
            <div class="container-fluid">
                <h1 class="md:text-9xl font-extrabold font-sans pl-36">KITSUDEV</h1>
            </div>
            <div class="container-fluid">
                <h1 class="text-bhnd md:text-9xl font-extrabold font-sans pl-36">KITSUDEV</h1>
                <h1 class="text-bhnd md:text-9xl font-extrabold font-sans pr-36 float-right">KITSUDEV</h1>
            </div>
           
        </div> -->
        <div class="container-fluid text-center">
            <p class="text-9xl">KITSUDEV</p>
        </div>
        <div class="container-fluid absolute bottom-0 pb-6">
           <p class="text-3xl text-gray-400">キツネ</p>
           <p class="text-6xl text-[#474C4F] font-bold">まもなく</p>
           <p class="text-2xl text-[#474C4F]">Stay tuned with the latest show,</p>
           <p class="text-2xl text-[#474C4F]">jokes, fun and much more. Don't be fooled by kitsudev</p>
        </div>
       
    </div>
</body>
</html>